@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: garamond_regular;
  src: local("Garamond"), url("../public/fonts/Garamond/GARA-REGULAR.TTF") format("truetype");
}
@font-face {
  font-family: garamond_italic;
  src: local("Garamond"), url("../public/fonts/Garamond/GARAIT-ITALIC.TTF") format("truetype");
}
:root {
  --primary-color: #aa9166;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000000;
  background: #ffffff;
}

.colorBg {
  background: var(--primary-color);
}
.colorText {
  color: var(--primary-color);
}
pre {
  white-space: pre-line;
}

.size_block_primary {
  max-width: 1659px;
}
.size_block_second {
  max-width: 1373px;
}
